<div class="container">
    <div class="px-3">
        <div class="px-3 border bg-light">
            <div class="row my-3">
                <div class="col">
                    <img class="img-fluid" [src]="image" />
                </div>
            </div>
            <div class="row mt-5">
                <h4>Our team</h4>
            </div>
            <div class="row mb-5">
                <div class="col">
                    {{about}}
                </div>
            </div>
        </div>
    </div>
</div>
